

* {
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Satisfy', cursive; */
}

header {
    height: 25%; 
    border: 2px solid pink
}
main{
    height: 75%;
    border: 2px solid red;
    font-size: 1.5rem;
    overflow: scroll;
}
#modal {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal-text-box {
    height: 75%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
